.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .card {
    width: 251px;
    height: 300px;
    margin: 50px;
    border: 1px solid #ccc;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

  }